<link rel="stylesheet" href="/assets/css/styles.css">

<div class="back">
    <p><a href="/index.html"></a>&#x2190; Go back home</p>
</div>
<div>
    <input type="checkbox" class="checkbox" id="checkbox">
    <label for="checkbox" class="label"></label>
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
    <div class="ball"></div>
</div>

<script>
    //Light/dark mode toggle
    // Select the button
    const checkbox = document.getElementById('checkbox');

    checkbox.addEventListener('change', () => {
        //change theme of body\
        document.body.classList.toggle("dark-theme");


    });
</script>