html {
  font-size: 25px;
}
body {
  margin-left: 0.5em;
  background-color: #eeeeee;
}

h1 {
  font-family: "Noto Serif JP", serif;
  font-size: 3em;
  text-decoration: none;
  font-weight: bold;
  color: #393e46;
}

h2 {
  font-family: "Noto Serif JP", serif;
  font-size: 2.5em;
  text-decoration: underline;
  text-decoration-color: #00adb5;
  color: #393e46;
}

body.dark-theme {
  background-color: #393e46;
}

body.dark-theme h2 {
  color: #eeeeee;
  font-family: "Noto Serif JP", serif;
  font-size: 2.5em;
  text-decoration: underline;
  text-decoration-color: #00adb5;
}

body.dark-theme h1 {
  color: #eeeeee;
  font-family: "Noto Serif JP", serif;
  font-size: 3em;
  text-decoration: none;
  font-weight: bold;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1em;
  color: #393e46;
}

a {
  color: #393e46;
}

a.me {
  text-decoration: none;
  color: initial;
}

span.thanks {
  height: 1em;
  width: 1em;
  color: #393e46;
  float: right;
  margin-bottom: 1.5em;
  margin-right: 0.5em;
}

body.dark-theme span.thanks {
  height: 1em;
  width: 1em;
  color: #eeeeee;
  float: right;
  margin-bottom: 1.5em;
  margin-right: 0.5em;
}

span.thanks-show {
  float: right;
  margin-bottom: 1.5em;
  margin-right: 0.5em;
}

p.thanks-text {
  font-size: 0.75em;
}

button.btn-toggle {
  float: right;
  margin-top: 1.5em;
  margin-right: 0.5em;
}

button.btn-toggle {
  color: #393e46;
  border: none;
  background-color: #eeeeee;
}

body.dark-theme button.btn-toggle {
  color: #eeeeee;
  border: none;
  background-color: #393e46;
}

body.dark-theme p {
  color: #eeeeee;
}

body.dark-theme a {
  color: #eeeeee;
}

a.twitter {
  text-decoration-color: #1da1f2;
  text-decoration-thickness: 0.15em;
}

a.linkedin {
  text-decoration-color: #0072b1;
  text-decoration-thickness: 0.15em;
}

a.substack {
  text-decoration-color: #007788;
  text-decoration-thickness: 0.15em;
}

a.sd {
  text-decoration-color: #707173;
  text-decoration-thickness: 0.15em;
}

body.dark-theme a.sd {
  text-decoration-color: #feed01;
  text-decoration-thickness: 0.15em;
}

a.pashi {
  text-decoration-color: #28a745;
  text-decoration-thickness: 0.15em;
}

a.instagram {
  text-decoration-color: #e1306c;
  text-decoration-thickness: 0.15em;
}

a.github {
  text-decoration-color: #333;
  text-decoration-thickness: 0.15em;
}

body.dark-theme a.github {
  text-decoration-color: #f5f5f5;
  text-decoration-thickness: 0.15em;
}
