
  /* html {
    @media screen and (max-width: 600px) {
      padding: 0 30px;
      margin: 50px 10px;
    } 

  @media screen and (min-width: 50em){ 
      padding: 0 30px;
      margin: 50px 10px;
    }
    
  } */

  .container {
    margin: 35px 5px;
    max-width: 670px;
    
    @media screen and (min-width: 600px){ 
      padding: 0 20px;
    }
  }

* {
  box-sizing: border-box;
}

.theme_selector {
  position: absolute;
  right: 1em;
}

.back {
  position: absolute;
  
}

body.dark-theme .back {
  color: #eeeeee;
  float: left;
}

body.light-theme .back {
  color: #393e46;
  float: left;
}

body {
 
  margin: auto;
  /* align-items: center; */
  justify-content: center;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 3vw;
  background-color: #eeeeee;
  transition: background 0.3s ease-out;
 
}

.header {
  width: 100%;
  height: 3vh;
  position: relative;
  box-sizing: content-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}


body.light-theme .label {
  width: 2.75em;
  height: 1.5em;
  background-color:none;
  display: flex;
  border-radius: 1.5em;
  background-color: #393e46;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

body.dark-theme .label {
  width: 2.75em;
  height: 1.5em;
  background-color:none;
  display: flex;
 border-radius: 1.5em;
  background-color: #eeeeee;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

.fa-moon {
  color: #393e46;
}

.fa-sun {
  color: #eeeeee;
  
}

body.light-theme .ball {
  height: 1.15em;
  width: 1.15em;
  position: absolute;
  background-color: #eeeeee;
  top: 0.20em;
  left: 0.20em;
  border-radius: 50%;
  transition: transform 0.3s linear;
}

body.dark-theme .ball {
  height: 1.15em;
  width: 1.15em;
  position: absolute;
  background-color: #393e46;
  top: 0.20em;
  left: 0.20em;
  border-radius: 50%;
  transition: transform 0.3s linear;
}

/* the plus sign is for adjacent tags */
.checkbox:checked + .label .ball {
  transform: translateX(1.3em);
  color: #393e46;
}

h1 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 3em;
  text-decoration: none;
  font-weight:bolder;
  color: #393e46;
}

h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 2em;
  text-decoration: underline;
  text-decoration-color: #00adb5;
  color: #393e46;
}

h3 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.5em;
  text-decoration: underline;
  color: #393e46;
}

body.dark-theme {
  background-color: #393e46;
}

body.dark-theme h1 {
  color: #eeeeee;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 3em;
  text-decoration: none;
  font-weight: bolder;
}

body.dark-theme h2 {
  color: #eeeeee;
  font-family:  "Alegreya Sans", sans-serif;
  font-size: 2em;
  text-decoration: underline;
  text-decoration-color: #00adb5;
}

body.dark-theme h3 {
  color: #eeeeee;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.5em;
  text-decoration: underline;

}

p {
  font-size: 18px;
  line-height: 26px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  color: #393e46;
  font-family: "Alegreya", serif;
  
  @media screen and (min-width: 600px){ 
    font-size: 20px;
    line-height: 30px;
  }
}
/* p {
  font-family: "Alegreya", serif;
  font-size: 1em;
  color: #393e46;
} */

ul {
  font-family: "Alegreya", serif;
  font-size: 1em;
  color: #393e46;
  padding-left: 0;
  text-decoration: none;

}

li {
  font-family: "Alegreya", serif;
  font-size: 1em;
  color: #393e46;
list-style-type: none;
padding-left: 0;
text-decoration: none;


}

a {
  color: #393e46;
}

a.me {
  text-decoration: none;
  color: initial;
}

.thanks-text {
  float: right;
  font-size: 0.75em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

span.thanks {
  height: 1em;
  width: 1em;
  color: #393e46;
  float: right;
  margin-bottom: 1.5em;
  margin-right: 0.5em;
}

body.dark-theme span.thanks {
  height: 1em;
  width: 1em;
  color: #eeeeee;
  float: right;
  margin-bottom: 1.5em;
  margin-right: 0.5em;
}

span.thanks-show {
  float: right;
  margin-bottom: 1.5em;
  margin-right: 0.5em;
  font-size: 0.5em;
}



#btn {
  cursor: pointer;
}



body.dark-theme p {
  color: #eeeeee;
  /* font-size: 1em; */
}

body.dark-theme a {
  color: #eeeeee;
}

a.twitter {
  text-decoration-color: #1da1f2;
  text-decoration-thickness: 0.15em;
}

a.linkedin {
  text-decoration-color: #0072b1;
  text-decoration-thickness: 0.15em;
}

a.substack {
  text-decoration-color: #007788;
  text-decoration-thickness: 0.15em;
}

a.sd {
  text-decoration-color: #707173;
  text-decoration-thickness: 0.15em;
}


a.vt {
  text-decoration-color: #861F41;
  text-decoration-thickness: 0.15em;
}

a.pashi {
  text-decoration-color: #28a745;
  text-decoration-thickness: 0.15em;
}

a.fyusion {
  text-decoration-color: #5564F1;
  text-decoration-thickness: 0.15em;
}

a.ford-co {
  text-decoration: #003479;
  text-decoration-thickness: 0.15em;
}

a.instagram {
  text-decoration-color: #e1306c;
  text-decoration-thickness: 0.15em;
}

a.github {
  text-decoration-color: #333;
  text-decoration-thickness: 0.15em;
}

a.email {
  text-decoration-color: #333;
  text-decoration-thickness: 0.15em;
}

body.dark-theme a.sd {
  text-decoration-color: #feed01;
  text-decoration-thickness: 0.15em;
}

body.dark-theme .pashi-co {
  text-decoration-color: #28a745;
  text-decoration-thickness: 0.15em;
}

body.dark-theme .ford-co {
  text-decoration-color: #2A6BAC;
  text-decoration-thickness: 0.15em;
}

body.dark-theme .esteem-co {
  text-decoration-color: grey;
  text-decoration-thickness: 0.15em;
}

body.dark-theme a.vt {
  text-decoration-color: #E87722;
  text-decoration-thickness: 0.15em;
}

body.dark-theme a.fyusion {
  text-decoration-color: #cccccc;
  text-decoration-thickness: 0.15em;
}

body.dark-theme .duration {
  font-size: 0.6em;
  color: #eeeeee;
  font-weight: bold;
  margin-top: -0.5em;
}


body.dark-theme a.github{
  text-decoration-color: #f5f5f5;
  text-decoration-thickness: 0.15em;
}

body.dark-theme a.email {
  text-decoration-color: #f5f5f5;
  text-decoration-thickness: 0.15em;
}


body.dark-theme a.substack {
  text-decoration-color: #99eebb;
  text-decoration-thickness: 0.15em;
}

body.dark-theme .skills {
  list-style-type: none;
  display: inline;
  margin: 0.1em;
  background-color: #eeeeee;
  color: #393e46;
  border-radius: 0.1em;
  font-size: 0.6em;
  font-weight: bold;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  text-align: center;
  text-indent: none;
}

.footer {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
