
html{
  font-size: 25px;
}
body {
  margin-left: 0.5em;
  background-color: #eeeeee;
 
}

h1{
  font-family: 'Noto Serif', serif;
  font-size: 3em;
  text-decoration: none;
  color: #393e46;
}


h2 {
  font-family: 'Noto Serif', serif;
  font-size: 2.5em;
  text-decoration: underline;
  text-decoration-color:#222831;
  color: #393e46;
}


p {
  font-family: 'Noto Sans', sans-serif;
  size: 2em;
}

a.me {
  text-decoration: none;
  color: initial;
}



body.dark-theme {
  background-color: #393e46;
  
}

body.dark-theme h2 {
  color: #eeeeee;
  text-decoration-color: #00adb5;
}

body.dark-theme h1 {
  color:#eeeeee;
}

a {
  color: black;

}

button.btn-toggle {
  float:right;
  margin-top: 1.5em;
  margin-right: 0.5em;
}

button.btn-toggle {
  color:#393e46;
  border: none;
  background-color: #eeeeee;
}

body.dark-theme button.btn-toggle {
  color:#eeeeee;
  border: none;
  background-color: #393e46  ;
}

body.dark-theme p {
  color: white;
}

body.dark-theme a {
  color: white;
}

a.twitter {
  text-decoration-color: #1DA1f2;
  text-decoration-thickness:0.15em;
}

a.linkedin {
  text-decoration-color: #0072b1;
  text-decoration-thickness:0.15em;

}

a.substack {
  text-decoration-color: #007788;
  text-decoration-thickness:0.15em;

}

a.sd {
  text-decoration-color: #707173;
  text-decoration-thickness:0.15em;

}

body.dark-theme a.sd {
  text-decoration-color: #feed01;
  text-decoration-thickness:0.15em;

}

a.pashi {
  text-decoration-color: #28a745;
  text-decoration-thickness:0.15em;
}

a.instagram {
  text-decoration-color: #E1306C;
  text-decoration-thickness:0.15em;
}

a.github {
  text-decoration-color: #333;
  text-decoration-thickness:0.15em;
}

body.dark-theme a.github {
  text-decoration-color: #f5f5f5;
  text-decoration-thickness:0.15em;
}


/* .create:hover a.section h2.substack span{
  display: none;
}
.create:hover a.section h2.substack:after{
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #007788;
  content: '';
  font-family:'Noto Sans', sans-serif;
  transition-duration: 10s;
}


.random:hover a.section h2.soon span{
  display: none;
}
.random:hover a.section h2.soon:after{
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #5271ff;
  content: 'Coming soon!';
  font-family:'Noto Sans', sans-serif;
  transition-duration: 10s;
}

.contact:hover a.section h2.social span{
  display: none;
}
.contact:hover a.section h2.social:after{
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #1DA1f2;
  content: 'Twitter: @SiddhitSanghavi; Github: siddhit; Instagram: @siddhit';
  font-family:'Noto Sans', sans-serif;
  transition-duration: 10s;
} */
 */
