<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="/assets/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <link rel="icon" href="favicon.ico">
</head>

<body class="light-theme">
    <div class="header">
        <div class="back">
            <a href="/index.html"><i class="fas fa-arrow-left"></i></a>

        </div>
        <div class="theme_selector">
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="label">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <div class="ball"></div>
            </label>
        </div>
    </div>

<h1>{{ post.title }}</h1>
<p>{{ post.date | date_to_string }} - {{ post.author }}</p>

{{ content }}

</body>
</html>